<div class="list">
    <div>
        <h2>
            List [ {{ list.id }} ] "{{ list.name }}"
            <button class="delete-button" (click)="deleteList()">- Delete</button>
        </h2>
    </div>
    <div class="edit-form">
        <div>Name: <input type="text" [ngModel]="list.name" (ngModelChange)="setListName($event)" /></div>
    </div>
    <div class="items-section">
        <div>
            <button class="create-button" (click)="createItem()">+ Create Item</button>
        </div>
        <div class="items">
            @for (item of list.items; track $index) {
                <app-todo-list-item [list]="list" [item]="item"></app-todo-list-item>
            }
        </div>
    </div>
</div>

