<mat-card class="login-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Don't have an account? <a href="auth/registration">Register</a></mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <form [formGroup]="form" (ngSubmit)="login()">
            <app-text-input placeholder="Username" [formControl]="form.controls.username">
                <div input-header>{{ 'Username' | uppercasepipe }}</div>
            </app-text-input>
            @if (form.controls.username.errors && form.controls.username.touched) {
            <div class="errors">
                @if (form.controls.username.errors['minlength']) {
                <div class="error">Username must be at least 6 chars</div>
                }
                @if (form.controls.username.errors['required']) {
                <div class="error">Username is required</div>
                }
            </div>
            }
            <app-text-input placeholder="Password" [formControl]="form.controls.password">
                <div input-header>{{ 'Password' | uppercasepipe }}</div>
            </app-text-input>
            <div class="errors" input-errors>
                @if (form.controls.password.errors && form.controls.password.touched) {
                <div class="errors">
                    @if (form.controls.password.errors['minlength']) {
                    <div class="error">Password must be at least 6 chars</div>
                    }
                    @if (form.controls.password.errors['required']) {
                    <div class="error">Password is required</div>
                    }
                </div>
                }
            </div>
            <button mat-button type="submit">LOGIN</button>
            <div class="divider">
                <span class="line"></span>
                <span class="text">OR</span>
                <span class="line"></span>
            </div>
            <div class="google-auth" (click)="googleLogin()">
                <div class="google-icon"></div> Continue with Google
            </div>
        </form>
    </mat-card-actions>
</mat-card>