<mat-toolbar>
    <span>Board "{{ board().name }}"</span>
    <button mat-fab extended (click)="createList()" class="mat-small-button create-button"
        aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
        Create List
    </button>
    <span class="spacer"></span>
    <button (click)="logout()" mat-icon-button class="logout-icon" aria-label="icon-button with menu icon">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<div class="lists-wrapper">
    @for (item of board().todoListIdsArray; track $index) {
        <app-board-view-list [listId]="item"></app-board-view-list>
    }
</div>