:host {
    padding: 10px;
    display: block;
    .lists-section {
        padding: 10px;
        .lists-line {
            margin: 10px 0;
            display: flex;
            .list-button {
                padding: 10px;
                margin: 0 10px 0 0;
                background: #0ac;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                color: #000;
                &.selected {
                    background: #0a0;
                }
            }
        }
    }
}