<h1>Todos <button (click)="logout()">Logout</button></h1>

<div class="lists-section">
    <div>
        <button class="create-button" (click)="createList()">+ Create List</button>
    </div>
    <div class="lists-line">
        @for (list of todoLists(); track $index) {
            <div class="list-button" [class.selected]="list.id == selectedListId" (click)="selectListById(list.id)">
                "{{ list.name }}" [ {{ list.id }} ]
            </div>
        }
    </div>
</div>
@if (selectedList()) {
    <app-todo-list [list]="selectedList()"></app-todo-list>
}

