<div class="dashboard">
    <mat-toolbar>
        <span>Parallel Image Processing Demo</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
    <div class="content">
        @if(image) {
        <app-image-processor [image]="image"></app-image-processor>
        } @else {
        <app-image-upload (onFileSelected)="onFileSelected($event)"></app-image-upload>
        }
    </div>
</div>